/* General */
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fifty-fifty-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-control {
  position: relative;
  top: 2px;
}

/* Table */
.table-container {
  display: grid;
  grid-template-columns: auto;
}

.row-container {
  display: grid;
  grid-template-columns: 10px 125px 1fr 50px 50px;
  grid-column-gap: 10px;
  grid-template-areas:
    "step predicate operation result remove"
    ".    subrow    subrow    subrow subrow";
  padding: 5px 0;
  position: relative;
}

.area-step {
  grid-area: step;
}

.area-predicate {
  grid-area: predicate;
}

.area-operation {
  grid-area: operation;
}

.area-result {
  grid-area: result;
}

.area-remove {
  grid-area: remove;
}

.table-title {
  font-weight: bold;
}

.table-container .selectize-control {
  margin: 0;
  top: 2px;
}

.table-container .form-group {
  margin: 0;
}

/* Filter */
.filter-op-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}

/* Select */
.select-op-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Plot */
.plot-op-container {
  display: grid;
}

/*Custom close button (cross)*/
div .div-btn-close button {
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 0;
}

.span-btn-move button {
  border-color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  padding: 0;
}

.bttn.bttn-material-flat.bttn-default {
  color: #444;
}

.div-btn-close-tablist button {
  float: right;
  position: absolute;
  right: 40px;
  top: 9px;
}

div .div-btn-close {
  display: inline;
}

div .collapsible-tab-box {
  padding: 0;
}

.box-body > div {
  padding: 0;
}

.box {
  margin-bottom: 10px;
}